<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/js/snaker/raphael-min.js}"></script>
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/ajax.js}"></script>

    <script th:src="@{/js/snaker/snaker.designer.js}"></script>
    <script th:src="@{/js/snaker/snaker.model.js}"></script>
    <script th:src="@{/js/snaker/snaker.editors.js}"></script>

    <link th:href="@{/js/bootstrap-3.3.7-dist/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/css/snaker.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>
    <link th:href="@{/js/multiple/dist/css/bootstrap-select.css}" rel="stylesheet"/>
    <script th:src="@{/js/multiple/dist/js/bootstrap-select.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/foundation/5.5.3/css/foundation.min.css">
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdn.staticfile.org/foundation/5.5.3/js/vendor/modernizr.js"></script>

    <style>
        .disabled{
             pointer-events:none;
             }
    </style>
</head>
<body>
<span th:include="basepath::html"></span>
<div class="container">
    <div class="row" style="max-width: 1200px">
        <div class="col-md-offset-1 col-lg-10">
            <div class="tab" role="tabpanel">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                </ul>
                <!-- Tab panes -->
                <div class="tab-content tabs">
                    <div class="content">
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    启动流程
                </h4>
            </div>
            <form class="form-horizontal">
                <div class="form-group" style="padding-top: 5px">
                    <label class="col-sm-2 control-label">empName</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" class="form-control" id="name" placeholder="name">
                        <span class="help-block"></span>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="startConfirm">
                    确认启动
                </button>
            </div>
        </div>
    </div>
</div>
<!--<div th:include="readme :: test1"></div>-->

<script th:inline="javascript">
    var processId = [[${processId}]];
    var orderId = [[${orderId}]];
    var taskId = [[${taskId}]];
    var taskName = [[${taskName}]];
    var operator = "操作者";
    var flag;

    $.ajax({
        type: 'GET',
        url: getBaseUrl() + "/snaker/flow/node",
        data: "processId=" + processId + "&orderId=" + orderId,
        async: false,
        globle: false,
        error: function () {
            alert('数据处理错误！');
            return false;
        },
        success: function (data) {
            var html = "";
            var curTab;
            var iscurrent = false;
            var nodenames = "";
            console.log(data);
            var tabs_html = "";
            var tabs_content = "";
            for (var i = 0; i < data.length; i++) {
                var node = data[i];
                if (node.nodeType == 1 || node.nodeType == 3) {
                    html = initTask(i, node.form);
                } else if (node.nodeType == 2) {
                    var ep = node.expr.substr(2, node.expr.length - 3);
                    html = initDecision(node, i, ep, node.form);
                }
                //如果下一个节点是会签节点添加selector
                if(node.actorAction == "ALL"){
                    html +='<div class="form-group">\n' +
                        '                        <label class="col-sm-2 control-label">选择会签人</label>\n' +
                        '                        <div class="col-sm-4">\n' +
                        '                            <select class="selectpicker add" multiple data-live-search="true" id="actorSelector' + i+'">\n' +
                        '                            </select>\n' +
                        '                        </div>\n' +
                        '                    </div>';
                }
                //如果当前节点是会签节点
                if(node.performType == "ALL"){
                    html +='<div class="form-group">\n' +
                        '                        <label class="col-sm-2 control-label">选择操作人</label>\n' +
                        '                        <div class="col-sm-4">\n' +
                        '                            <select class="form-control add2" id="selectOperator' + i+'" name="selectOperator' + i+ '">\n' +
                        '                            </select>\n' +
                        '                        </div>\n' +
                        '                    </div>';
                }

                html +='</form>';

                if (node.name == taskName) {
                    tabs_html += '<li role="presentation" class="active" id="tabs' + i+'" value="' + node.name+'"><a href="#Section' + i + '" aria-controls="home" role="tab" data-toggle="tab">' + node.displayName + '</a></li>';
                    tabs_content += '<div role="tabpanel" class="tab-pane fade in active click_evt" id="Section' + i + '">\n' +
                        '                        <h3>' + node.displayName + '</h3>\n';
                    tabs_content += html;

                }
                else {
                    tabs_html += '<li role="presentation" id="tabs' + i+'" value="' + node.name+ '"><a href="#Section' + i + '" aria-controls="profile" role="tab" data-toggle="tab">' + node.displayName + '</a></li>';
                    tabs_content += ' <div role="tabpanel" class="tab-pane fade click_evt" id="Section' + i + '">\n' +
                        '                        <h3>' + node.displayName + '</h3>\n';
                    tabs_content += html;
                }
                tabs_content += '<button type="button" class="btn btn-primary" id="confirm' + i + '">\n' +
                    '                    确认\n' +
                    '                </button></div>';
                tabs_content += '<div id="loadContent' + i + '" style="display: none"></div>';
                initClick(i, node.nodeType, node.expr);

            }
            $(".nav-tabs").append(tabs_html);
            $(".tab-content").append(tabs_content);

            //load为异步调用方法，暂时先这么解决一下
            //可能存在的问题：两层循环可能会出现问题，但好像也不会。。
            flag = true;
            for (var i = 0; i < data.length; i++) {
                var node = data[i];
                $("#loadContent" + i).html("");
                $("#loadContent" + i).load(node.form + ".html .form-group", "", function () {
                    reloadForm();
                });
            }

            function reloadForm() {
                for (var i = 0; i < data.length; i++) {
                    $("#form" + i).append($("#loadContent" + i).children());
                }
                //表单加载完成之后初始化表单数据
                //如果不设置延时，可能表单还没加载完成就加载数据了，数据会回显失败
                setTimeout(function () {
                    initData();
                },1000);
            }
            initSelector();
            initSelectorDoing(taskId);

        }
    });

    /*
    form表单没有闭合，可能动态添加selector组件
     */
    function initTask(i, form) {
        var result = "";
        /* $.ajax({
             type: 'GET',
             url: getBaseUrl() + "/business/detail?taskId=" + taskId,
             async: false,
             globle: false,
             dataType: "json",
             error: function () {
                 return false;
             },
             success: function (data) {
                 var data_html = '<h5>msg: ' + data.msg + '</h5></<br><h5>name: ' + data.name + '</h5>';
                 // $(".tab-content").html("");
                 // $(".tab-content").append(data_html);

             }
         });*/
        result += '<form class="form-horizontal" id="form' + i + '">\n';
        // result = data_html;
        return result;
    }

    /**
     * form表单没有闭合，可能动态添加selector组件
     * @param data
     * @param i
     * @param expr
     * @param form
     * @returns {string}
     */
    function initDecision(data, i, expr, form) {
        // alert(expr);
        var operation = data.operation;
        var html = "";
        html += '<form class="form-horizontal" id="form' + i + '" name="form' + i + '">\n' +
            '                <div class="form-group">\n' +
            '                    <label class="col-sm-2 control-label">审核操作</label>\n' +
            '                    <div class="col-sm-8">\n';

        for (var i = 0; i < operation.length; i++) {
            var a = operation[i].path;
            var b = operation[i].pathDisplay;
            var c = operation[i].to;
            $(".content").html("");
            var radio_html = '<label class="radio-inline">\n' +
                '                            <input type="radio" data-id="' + a + '" name="opt" id="inlineRadio' + i + '" value="' + a + '"> ' + b + '\n' +
                '                        </label>\n';
            html += radio_html;
        }
        html += '</div>\n' +
            '                </div>\n' +
            '                <input name="expr" type="hidden" id="expr" value="' + expr + '">';
        return html;
    }

    function initClick(i, nodeType) {
        $(".tab-content").on("click", "div #confirm" + i, function () {
            // if(nodeType == 2) {
            doSth(i);
            // }

        });
    }

    function doSth(i) {
        /* $.ajax({
             type: 'POST',
             url: getBaseUrl() + "/business/opt",
             async: false,
             data: $.param({'taskId':taskId,'processId':processId,'orderId':orderId})+'&'+$("#form"+i).serialize(),
             globle: false,
             dataType: "json",
             error: function () {
                 return false;
             },
             success: function (data) {
                 console.log("aaaaa " + data.id);
                 if(data.code == 200) {
                     window.location.href = getBaseUrl() + "/toOrderDetail?processId=" + processId + "&orderId=" + orderId + "&taskId=" + data.id;
                 }else {
                     window.location.href = getBaseUrl() + "/toActive";

                 }
             }
         });*/
        /*  console.log("1.  " + $("#form"+i).serialize())
          console.log("3.  " + JSON.stringify(getFormData($("#form"+i).serializeArray())));
          var  param = '{"paramMap": ';
          param +=JSON.stringify(getFormData($("#form"+i).serializeArray()));
          param+='}';*/
        //单选的
        var selectVal = $("#selectOperator" + i).val();
        var s =$('#actorSelector'+i).val();
        var selector = ""
        if( s!=""&&s != null){
            selector =JSON.stringify($('#actorSelector'+i).val()).replace(/\"/g,'').replace('[','').replace(']','').replace(/,/g,'-');

        }
        //多选的
        var sd = '"taskId":"' + taskId + '","processId":"' + processId + '","orderId":"' + orderId + '","select":"' + selectVal + '","selector":"' + selector + '"';
        var paramMap = '{"paramMap":' + JSON.stringify(getFormData($("#form" + i).serializeArray(), getArray(sd))) + '}';
        // console.log("******* " + JSON.stringify(getFormData($("#form" + i).serializeArray(), getArray(sd))));

        $.ajax({
            type: 'POST',
            url: getBaseUrl() + "/business/executeOneStep",
            async: false,
            data: paramMap,
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            error: function () {
                return false;
            },
            success: function (data) {
                if(data.code == 200) {
                    window.location.href = getBaseUrl() + "/toOrderDetail?processId=" + processId + "&orderId=" + orderId + "&taskId=" + data.id;
                }else {
                    window.location.href = getBaseUrl() + "/toActive";

                }
            }
        });
    }

    function initData() {
        if(flag) {
            console.log("initData orderId = " + orderId);


            $.ajax({
                type: 'POST',
                url: getBaseUrl() + "/getFormData",
                async: false,
                data: "orderId=" + orderId,
                dataType: "json",
                // contentType: 'application/json; charset=UTF-8',
                error: function () {
                    return false;
                },
                success: function (data) {
                    // $("#tabs0").addClass("active");
                    console.log(data);
                    var db = data.data;
                    //str表示当前节点和之前的节点
                    var str = taskName + "-";
                    //arr 表示之前的节点
                    var arr = new  Array();
                    for (var j = 0; j < db.length; j++) {
                        str +=db[j].name + "-" ;
                        arr.push(db[j].name);
                    }
                    var a = $("li");
                    //未涉及的节点置为不可点击
                    for (var i=0;i<a.length;i++) {
                        var display = $(a[i]).attr("value");
                        if(str.indexOf(display) != -1){
                        }else {
                            $("#tabs" + i).addClass("disabled");
                        }
                    }
                    var b = data.data;
                    //数据回显
                    for (var i = 0; i < b.length; i++) {
                        var options = { jsonValue: b[i].formData.msg, isDebug: false };
                        $("#form" +i).initForm(options);
                    }
                    for (var i = 0; i < arr.length; i++) {
                        //如果返回的数据中tasks信息中包含当前taskId，不操作，
                        //如果不包含，则该待办任务已经完成，置为不可编辑
                        var tasks =data.data[i].tasks;
                        if(tasks.indexOf(taskId) != -1){

                        }else {
                            $("#form" + i).setUnEditable();
                        }
                    }
                }
            });
            flag = false;
        }else {
        }

    }
    $(".disabled").click(function (event) {
         event.preventDefault();
    });

    function initSelector() {
        $.ajax({
            url: getBaseUrl() + "/getOperatorList",
            dataType: "json",
            async: false,
            success: function (data) {
                for (var i = 0; i < data.list.length; i++) {
                    var html = '<option value="' + data.list[i].id+'">' +data.list[i].name+'</option>';
                    $(".add").append(html);
                }

            }

        });
    }
    function initSelectorDoing(taskId) {
        $.ajax({
            url: getBaseUrl() + "/getOperatorListDoing?orderId=" + orderId,
            dataType: "json",
            async: false,
            success: function (data) {
                for (var i = 0; i < data.list.length; i++) {
                    var html = '<option value="' + data.list[i].id+'">' +data.list[i].name+'</option>';
                    $(".add2").append(html);
                }

            }

        });
    }
</script>
</body>
</html>