<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script th:src="@{/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/js/ajax.js}"></script>
    <link th:href="@{/js/bootstrap-3.3.7-dist/css/bootstrap.css}" rel="stylesheet"/>
    <script th:src="@{/js/bootstrap-3.3.7-dist/js/bootstrap.js}"></script>

</head>
<body>
<span th:include="basepath::html"></span>
<div class="row" style="padding-top: 50px">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <tr>
                <th>名称</th>
                <th>流程显示名称</th>
                <th>版本号</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            <tr th:each="process,infoStat : ${page.result}">
                <td th:text="${process.name}"></td>
                <td th:text="${process.displayName}"></td>
                <th th:text="${process.version}"></th>
                <th th:text="${process.state == 1 ? '启用' : '禁用'}"></th>
                <th>
                    <a href="#editModal" th:onclick="start([[${process.id}]]);">启动流程</a>
                </th>
            </tr>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">×
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    启动流程
                </h4>
            </div>
            <form class="form-horizontal">
                <div class="form-group" style="padding-top: 5px">
                    <label class="col-sm-2 control-label">姓名</label>
                    <div class="col-sm-8">
                        <input type="text" name="name" class="form-control" id="name" placeholder="name">
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="form-group" style="padding-top: 5px">
                    <label class="col-sm-2 control-label">内容</label>
                    <div class="col-sm-8">
                        <input type="text" name="msg" class="form-control" id="msg" placeholder="msg">
                        <span class="help-block"></span>
                    </div>
                </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" id="startConfirm">
                    确认启动
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    /*$(function () {
        alert("page load finish.");
    });*/

    function start(process_id) {
        $('#myModal').modal('show');
        $("#startConfirm").attr("processId",process_id);
        // confirm(process_id)
    }

    $("#startConfirm").on("click",function () {
       var processId =  $("#startConfirm").attr("processId");
       var name = $("#name").val();
       var msg = $("#msg").val();
       alert(processId + "   :  "+ name);
        jQuery.ax(getBaseUrl() + "/startProcess", {
            processId: processId,
            name: name,
            msg: msg,
            operator: "operator"
        }, false, 'POST', '', function (res) {
            $('#myModal').modal('hide');
            alert("启动成功");
        }, function (res) {
            $('#myModal').modal('hide');
            alert("启动失败");
        })
    });
</script>
</body>
</html>